body {
  margin: auto;
  min-width: 300px;
  max-width: 990px;
}

.wrapper {
  display: grid;
  grid-template-rows: 12fr 12fr;
}

h2 {
  text-align: center;
  text-transform: uppercase;
  font-size: 2.25rem;
  font-family: "Alegreya Sans SC", sans-serif;
  font-family: "Montserrat", sans-serif;
}

h3 {
  text-align: center;
  text-transform: uppercase;
  font-size: 0.1rem;
  font-family: "Alegreya Sans SC", sans-serif;
  font-family: "Montserrat", sans-serif;
}

main {
  position: relative;
  display: flex;
  flex-direction: column;
  border-right: 0.3rem solid;
  border-bottom: 0.3rem solid;
}

main:hover .content {
  opacity: 1;
}

main:hover {
  border: none;
}

section {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.ex-body {
  width: 100%;
}

.skl-body {
  display: flex;
  flex-direction: column;
  font-size: 0.1rem;
  font-family: "Alegreya Sans SC", sans-serif;
  font-family: "Montserrat", sans-serif;
}

.text-about {
  text-align: center;
  font-size: 5rem;
  font-family: "Poppins", sans-serif;
}

.text-down {
  text-transform: lowercase;
}

.content {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  opacity: 0;
  transition: 0.5s ease;
  background-color: white;
}

.icons {
  text-align: center;
  font-size: 3rem;
}

.icons > a {
  color: black;
}

@media (min-width: 768px) {
  h2 {
    font-size: 5rem;
  }

  section > a {
    font-size: 5rem;
  }

  .text-about {
    font-size: 10rem;
  }

  h3,
  h4,
  .skl-body {
    font-size: 1rem;
  }
}
