body {
  margin: auto;
  min-width: 300px;
  max-width: 990px;
}

.wrapper {
  display: grid;
  grid-template-rows: 12fr 12fr;
  min-height: 100vh;
}

h2 {
  display: flex;
  justify-content: left;
  margin-left: 0.5rem;
  font-size: 0.7rem;
  text-transform: uppercase;
  font-family: "Montserrat", sans-serif;
}

h3 {
  text-transform: uppercase;
  font-size: 0.7rem;
  font-family: "Montserrat", sans-serif;
}

main {
  position: relative;
  display: flex;
  margin-top: -7rem;
  margin-bottom: 1rem;
  flex-direction: column;
  border-right: 0.3rem solid;
  border-bottom: 0.3rem solid;
}

main:hover .content {
  opacity: 1;
}

main:hover {
  border: none;
}

section {
  display: flex;
  margin-top: -6rem;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.content-body,
.content-indent {
  text-align: justify;
  width: 80%;
}

.content-body,
.content-indent {
  text-indent: 1.5rem;
}

.medium-text {
  margin-left: -1.3rem;
}

.about-title {
  margin-top: 5rem;
  text-align: center;
  font-size: 5rem;
  font-family: "Poppins", sans-serif;
}

.text-down {
  text-transform: lowercase;
}

.content {
  position: absolute;
  line-height: 1.6;
  opacity: 0;
  transition: 0.5s ease;
  background-color: white;
}

.icons {
  display: flex;
  margin-top: 2rem;
  justify-content: center;
  font-size: 2rem;
}

.icons-tag {
  text-align: center;
  font-size: 0.01rem;
}

.icons > a,
.content-body > a,
.icons-text > a {
  margin-right: 0.3rem;
  text-decoration: none;
  color: black;
}

.content-body > a {
  line-height: 1.6;
}

.d-flex-col {
  display: flex;
  flex-direction: column;
}

@media (min-width: 768px) {
  .wrapper {
    margin-top: 0;
  }

  .icons {
    font-size: 3rem;
  }

  .icons-tag {
    margin-top: -0.2rem;
    font-size: 0.9rem;
  }

  section {
    margin-top: 0;
  }

  .content {
    top: -8rem;
    line-height: 1.6;
  }

  .about-title {
    font-size: 10rem;
  }

  .content-title {
    font-size: 2rem;
  }

  .content-body {
    width: 100%;
    margin-top: -1rem;
  }

  h2 {
    margin-left: 0;
    font-size: 1.5rem;
    text-transform: uppercase;
    font-family: "Montserrat", sans-serif;
  }

  h3,
  h4,
  .end {
    font-size: 1.2rem;
  }

  .content-body > a {
    line-height: 3;
    font-size: 1.5rem;
  }
}
